## Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- List
- Comparison Operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant object False  and True

They are use to represent  truth values (Other values can also be considerd fals or true).

in numeric contexts(for example, when used  as the argument an arithmetic operators), they behave like the integer 0 and 1, respectively.

The built-in function bool() can be use to cast any value to a boolean, if the value can be interpreted as a truth value

they are written as False and True,respectively.

In [ ]:
bool

In [ ]:
print(True,False)

In [ ]:
type(True)

In [ ]:
my_str='Anurag Vishwakarma'

In [ ]:
print(my_str.isalnum()) # check if all char are numbers
print(my_str.isalpha()) # check if all char in the string are alphabatic
print(my_str.isdigit()) # test  if string contant digit
print(my_str.istitle())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('a'))
print(my_str.startswith('A'))

#### Boolean and Logical Operators

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
True or True

In [ ]:
# Example
str_example='Hello World'
my_str='Anurag'

In [ ]:
my_str.isalpha() or str_example.isnum()

###   Lists

A list is data structur python that is a mutable, or changeable, ordered sequence of elements. Each elements or values that is inside of a list i called an item just as sting are define as charecters between quotes , list are  defined by having values between square brakets [ ]

In [ ]:
# EXAMPLES

lst_example=[]

In [ ]:
type(lst_example)

In [ ]:
lst=list()

In [ ]:
type(lst)

In [ ]:
lst=['mathmetic','hindi',100,200,300]

In [ ]:
type(lst)

In [ ]:
print(lst)

Append

In [ ]:
#. append is used to add elements in the list
lst.append('Anurag')

In [ ]:
print(lst)

In [ ]:
lst.append(['johan','balla'])

In [ ]:
lst

Insert

In [ ]:
# insert in a specific order
lst.insert(1,'python')

In [ ]:
print(lst)

In [ ]:
#indexing in list
lst[5]

In [ ]:
lst[1:4]

Extend Method

In [ ]:
lst.extend([6,7])

In [ ]:
print(lst)

In [ ]:
lst.extend(['helle','team'])

In [ ]:
print(lst)

various Operations  that we can perform in list

In [ ]:
lst=[1,2,3,4,5]

In [ ]:
sum(lst)

In [ ]:
print(lst*3)

Pop() Method

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
lst.pop(0)

In [ ]:
lst

count(): Calculates total occurrence of given element of list

In [ ]:
lst=[1,2,3,4,5,1,1,1]
lst.count(1)

## SETS

 A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. 

 Python's set class represents the mathmetical notion of a set This is based on a data structur known as a hase table

In [ ]:
## Defining an empy set
set_var= set()
print(set_var)
print(type(set_var))

In [ ]:
set_var={1,2,3,4}

In [ ]:
set_var

In [ ]:
type(set_var)

In [ ]:
set_var={'Avenger','IronMan','Hitman'}
print(set_var)
type(set_var)

In [ ]:
#Inbuilt function in sets
set_var.add('Hunk')

In [ ]:
print(set_var)

In [ ]:
# Indexing
set_var[0]

In [ ]:
set1={'Hitman', 'Avenger', 'IronMan'}
set2={'Hitman', 'Avenger', 'IronMan', 'Hunk'}

In [ ]:
#Diffrence
set2.difference(set1)

In [ ]:
#difference_update
set2.difference_update(set1)

In [ ]:
print(set2)

### Dictionaries
- A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written
 with curly brackets, and they have keys and values.

In [ ]:
dict={}

In [ ]:
type(dict)

In [ ]:
dic={1,2,3,4,4}

In [ ]:
type(dic)

In [ ]:
## Let's  create a dictionary
my_dict={'car1':'Audi','car2':'BMW','Car3':'Thar'}

In [ ]:
type(my_dict)

In [ ]:
print(type)

In [ ]:
my_dict

In [ ]:
#Accec the items values bases on keys
my_dict['car1']

In [ ]:
# We can even loop throught the dictionaries key
for x in my_dict:
 print(x)

In [ ]:
#  We can even loop throught the dictionaries values
for x in my_dict.values():
    print(x)

In [ ]:
 # We can also check both key and values
for x in my_dict.items():
    print(x)

In [ ]:
## Adding items  in Dictionaries
my_dict['car4']='audi 2.0'

In [99]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'Car3': 'Thar', 'car4': 'audi 2.0'}

## Nested Dictionary

In [100]:
car1_model={'Audi':1900}
car2_model={'BMW':2000}
car3_model={'maruti':38000}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [101]:
print(car_type)

{'car1': {'Audi': 1900}, 'car2': {'BMW': 2000}, 'car3': {'maruti': 38000}}

In [102]:
##Accessing the items in dictionary
print(car_type['car1'])

{'Audi': 1900}

## Tuple

In [103]:
## Create  an empty Tuples
my_tuple=tuple()

In [104]:
type(my_tuple)

tuple

In [105]:
my_tuple=()

In [106]:
type(my_tuple)

tuple

In [110]:
my_tuple=('Anurag','kumar','vishwakarma')

In [111]:
my_tuple[0]

'Anurag'

In [114]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Anurag', 'kumar', 'vishwakarma')

In [115]:
## Inbuilt function
my_tuple.count('Anurag')

1

In [116]:
my_tuple.index('kumar')

1